#game div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin:10px;
    display: inline-block;
    border-radius: 10px;
}
h1 {
    font-family: 'Monaco', cursive;
    font-weight: bold;
    color: darkturquoise;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.purple {
    background: purple;
}

.orange {
    background: orange;
}

div.cover {
    background: white;
}